.contact-section {
  background-position: center;
  min-height: 500px; /* ارتفاع مناسب */
  display: flex;
  align-items: flex-start; /* الفورم يبدأ من فوق */
  padding-top: 80px; /* يخلي الفورم نازل لتحت */
}
.contact-section .row{
 background: linear-gradient(0.25turn ,rgb(1, 105, 1), #c3fbcf) !important;
 border-radius: 10px;
}

.contact-card {
  background: #fff;
  border-radius: 12px;
}

form {
    z-index: 999;
}
