.App {
  text-align: center;
}

h2
{
    position: relative;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 40px;
}
h2:not(.swal2-title)::after {
     content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 120px;
  height: 3px;
  background-color: green;
}
h2:not(.swal2-title)::before{
 content: "";
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: green;
}

